<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MyPropertyValue{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'retailer_buyer' %}">Retailer Buyer</a>
      <a href="{% url 'investor_buyer' %}">Investor Buyer</a>
      <a href="{% url 'seller_page' %}">Sellers</a>
    </nav>

    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
