{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>Available Properties</h2>

  {% if properties %}
  <div class="row">
    {% for property in properties %}
    <div class="col-md-4">
      <div class="card mb-4">
        {% if property.image %}
        <img
          src="{{ property.image.url }}"
          class="card-img-top img-fluid"
          alt="{{ property.title }}"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
          <p class="card-text">Price: ${{ property.price }}</p>
          <p class="card-text">Location: {{ property.location }}</p>
          <a
            href="{% url 'property_details' property.id %}"
            class="btn btn-primary"
            >View Details</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No properties available at the moment.</p>
  {% endif %}
</div>
{% endblock %}
